.card {
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid #58de8e;
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2px 26px;
}

.card > span:nth-of-type(2) {
    color: var(--gray);
    font-size: 16px;
}

.card > img {
    transform: scale(0.6);
    margin-bottom: -2rem;
}

.c-button {
    background: white;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #5290fd;
    transition-duration: 0.2s;
}

.c-button:hover {
    transition-duration: 00.2s;
    background: #5290fd;
    color: white;
    cursor: pointer;
}
