.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  padding-top: 3rem;
}

.con-heading {
    display: flex;
    flex-direction: column;
}

.con-heading > * {
    font-size: 3rem;
    font-weight: bold;
}

.con-heading > span:nth-of-type(2) {
    color: var(--green);
}

.con-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.con-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.con-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--green);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

.c-blur2{
    top: -18%;
    left: 90%;
}

.con-left {
    position: relative;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }

}   