.intro {
    display: flex;
    height: 55vh;
    margin-top: 6rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name >:nth-child(1) {
    color: var(--green);
    font-weight: bold;
    font-size: 3rem;
}

.i-name >:nth-child(2) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name >:nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.i-button {
    width: 6rem;
}

.i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}

.i-icons>* {
    transform: scale(0.5);
}

.i-icons>*:hover {
    cursor: pointer;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-right > * {
    position: absolute;
    z-index: 1;
}

.i-bg {
    width: 250px;
    height: 350px;
    border-top: 1rem solid #eaee16;
    border-right: 1rem solid #eaee16;
    border-bottom: 0.3rem solid #0b5dc8;
    border-left: 0.3rem solid #0b5dc8;
    border-bottom-left-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
    left: 6rem;
    top: 3.5rem;
}

.i-bg1 {
    left: 7.5rem;
    top: 2rem;
    border-top: 1rem solid #0b5dc8;
    border-right: 1rem solid #0b5dc8;
    border-bottom: 0.3rem solid #eaee16;
    border-left: 0.3rem solid #eaee16;
}

.i-bg2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-bg2 > img {
    width: 90%;
    height: 90%;
    border-bottom-left-radius: 30px;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
    top: 18%;
    left: 90%;
}

.blurYellow {
    background: var(--yellow);
}

.blurBlue {
    background: var(--blue);
}
