.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name {
    color: black;
    text-decoration-line: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list {
    flex: 10;
}

.n-list > ul {
    text-decoration: none;
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.n-listItem {
    color: var(--black);
    text-decoration-line: none;
}

.n-listItem:hover {
    cursor: pointer;
    color: var(--green);
}

.n-button {
    flex: 2;
}
